
<div class="container-md mt-5">
  <div class="card">
    <div class="card-header text-center h1">
        TODO LIST
    </div>
    <div class="card-body">
      <div class="float-left">
        <button class="btn btn-outline-success" (click)="openModal()"><i class="bi bi-plus"></i>Add Task</button>
      </div>
      <div class="float-right">
        <div class="btn-group">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary">filter tasks</button>

            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="filter(true)">Completed</a>
              <a class="dropdown-item" (click)="filter(false)">Uncomplted</a>
              <a class="dropdown-item" (click)="filter(null)">Unfiltered</a>
            </div>
          </div>
        </div>

        <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort tasks
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" (click)="sort('name_asc')">By name asc.</a></li>
              <li><a class="dropdown-item" (click)="sort('name_desc')">By name desc.</a></li>
              <li><a class="dropdown-item" (click)="sort('deadline_asc')">By deadline asc.</a></li>
              <li><a class="dropdown-item" (click)="sort('deadline_desc')">By deadline desc.</a></li>
              <li><a class="dropdown-item" (click)="sort('default')">Default</a></li>

            </ul>
          </div> 
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Deadline</th>
            <th scope="col">Time when finished</th>
            <th scope="col">Actions</th>
          </tr>

        </thead>
        <tbody>
          <ng-container *ngFor="let task of tasks$ |async">
            <tr app-task [task]="task"  [ngClass]="chooseBackgroundColor(task)" data-toggle="collapse" [attr.data-target]="'#accordion-'+task.id" class="clickable"></tr>
            <tr >
              <td colspan="5" style="padding: 0;">
                  <div [id]="'accordion-'+task.id" class="collapse py-2">{{this.task.description}}</div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
</div>